@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital@1&display=swap');


html, body {
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 19px;
}
body{
    background-image: url(./images/bg2.jpg);
}
.navbar {
    background-color:rgb(0,0,1,0.67)!important;
    text-align: right;
}
.navbar li a:hover {
    color: #40d8f0 !important;
  }
  
.carousel-inner img {
    width: 100%;
}
.carousel-caption {
    position: absolute;
    bottom: 17%;
}
.carousel-caption h2 {
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 6px 6px 12px #000;
}
.carousel-caption h3 {
    font-size: 200%;
    text-shadow: 3px 3px 9px #000;   
}
.btn-outline-light{
    text-transform: uppercase;
    text-shadow: 1px 1px 20px #000;
    font-size: 99%;
}

@media (max-width: 992px){
    .carousel-caption h2 {
        font-size: 269%;
        text-transform: uppercase;
        text-shadow: 6px 6px 12px #000;
    }
    .carousel-caption h3 {
        font-size: 179%;
        text-shadow: 3px 3px 9px #000;
}
    .btn-outline-light{
        text-transform: uppercase;
        text-shadow: 1px 1px 20px #000;
        font-size: 88%;}
        .display-4{
            font-size: 299%;
            text-transform: uppercase;
            text-shadow: 4px 4px 12px #000;
        }}

@media (max-width: 786px){
    .carousel-caption h2 {
        font-size: 199%;
        text-transform: uppercase;
        text-shadow: 6px 6px 12px #000;
    }
    .carousel-caption h3 {
        font-size: 139%;
        text-shadow: 3px 3px 9px #000;
}
.btn-outline-light{
    text-transform: uppercase;
    text-shadow: 1px 1px 20px #000;
    font-size: 76%;}
    .display-4{
        font-size: 246%;
        text-transform: uppercase;
        text-shadow: 4px 4px 12px #000;
    }
}
@media (max-width: 576px){
    .carousel-caption h2 {
        font-size: 149%;
        text-transform: uppercase;
        text-shadow: 6px 6px 12px #000;
    }
    .carousel-caption h3 {
        font-size: 105%;
        text-shadow: 3px 3px 9px #000;
}
.btn-outline-light{
    text-transform: uppercase;
    text-shadow: 1px 1px 20px #000;
    font-size: 64%;}
    .display-4{
        font-size:169%;
        text-transform: uppercase;
        text-shadow: 4px 4px 12px #000;
    }}   

.display-4{
    text-transform: uppercase;
    text-shadow: 4px 4px 12px #000;
}
.card-tittle{
    text-transform: uppercase;
}
.wrapper {
    text-align: center;
}
 
.button {
    position: absolute;
    top: 50%;
}
.btn-primary:hover {
    background-color: rgb(255, 255, 255);
    color:black
}
footer {
    background-image: url(./images/conmuthu19.png);
    color: white;
}
.bg-header {
    background-color: rgb(16 255 0 / 20%);
    padding: 12px 20px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}


.welcome-board-name
{
      font-family: 'Vast Shadow', cursive;
    color: #ffff;
    font-size: 2.3em;
    text-shadow: 1px 2px 3px #03802a;
    
}

.content-inner {
  width: 100%;
  color: #fff;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.fl-wrap {
  float: left;
  width: 100%;
  position: relative;
}

.content-inner .content-front,
.content-inner .content-back {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-front {
  background: #292929;
  position: relative;
}

.content-inner > * {
  backface-visibility: hidden;
  transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cf-inner:before,
.cf-inner:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-color: rgba(255, 255, 255, 0.4);
  z-index: 10;
}

.cf-inner:before {
  top: 20px;
  left: 20px;
  border-left: 2px solid;
  border-top: 2px solid;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: repeat;
  background-origin: content-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  z-index: 3;
}

.content-inner .cf-inner .inner {
  align-items: stretch;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  transform: translateZ(95px) scale(0.81);
  text-align: center;
  position: relative;
  z-index: 2;
}

.cf-inner:after {
  bottom: 20px;
  right: 20px;
  border-right: 1px solid;
  border-bottom: 1px solid;
}


.content-inner .cf-inner .inner h2 {
  position: relative;
  font-size: 29px;
  font-weight: 700;
  padding-bottom: 30px;
  text-shadow: 1px 3px 1px #000 !important;
}

.content-inner .cf-inner .inner h2:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 20px;
  height: 2px;
  margin-left: -10px;
  
}

.content-inner .content-front li {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin: 0 4px;
}
.cf-inner:after {
  bottom: 20px;
  right: 20px;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.content-inner .content-front,
.content-inner .content-back {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-inner .cf-inner .inner {
  align-items: stretch;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  transform: translateZ(95px) scale(0.81);
  text-align: center;
  position: relative;
  z-index: 2;
}

.content-inner:hover .content-front {
  transform: rotateY(-180deg);
}

.content-inner:hover .content-back {
  transform: rotateY(0deg);
}

.content-inner .content-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: rotateY(180deg);
  background: #292929;
  background-image: url("./anh-Nhungchomsao/lungbai2.png");
  background-size: 100% 100%  ;
}

.content-inner .cf-inner {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  width: 100%;
  padding: 150px 20px;
}

.serv-price-wrap {
  background: rgba(255, 255, 255, 0.05);
  padding: 15px 30px;
  margin-top: 14px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 3px 1px #000 !important;
}
.ittime {
    font-size: 19px;
}

.content-inner .cf-inner .inner h2:before {
  background: #fff;
}

inner:before,
.cf-inner:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-color: rgba(255, 255, 255, 0.4);
  z-index: 10;
}

.cf-inner:before,
.cf-inner:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 250px;
  border-color: #fff;
  z-index: 10;

}

.dec-icon {
  padding-bottom: 40px;
}

.content-back .cf-inner:before {
  top: 135px;
}

.content-back .cf-inner:after {
  bottom: 135px;
}
.ttin {
    font-size: 17px;
    padding-left: 4px;
    padding-right: 4px;
    text-shadow: 1px 2px 4px #000 !important;
}



/* custom-cursor */
/* =============================================================================================== */
.custom-cursor {
  width: 3rem;
  height: 3rem;
  border: 1px solid hsla(0, 0%, 100%, .7);
  border-radius: 100%;

  background: hsla(0, 0%, 80%, .2);
  position: absolute;
  z-index: 5;
  transform: translate(-50%, -50%);

  pointer-events: none;
}


/* buttons */
/* =============================================================================================== */
/* btn-circle */
/* ---------------------------------------- */
.btn-circle {
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* btn-pTSecond */
/* ---------------------------------------- */


.btn-pTSecond:hover,
.btn-pTSecond:focus {
  transform: scale(1);
}

.btn-pTSecond::before {
  content: '';

  width: 100%;
  height: 100%;
  border-radius: inherit;

  position: absolute;
  background: var(--gradient-2);

  transform: scale(0);
  transition: .8s;
}

.cf-inner-1:before,
.cf-inner-1:after {
  content: "";
  position: absolute;
  width: 50px;
  /*height: 50px;*/
  border-color: rgba(255, 255, 255, 0.4);
  z-index: 10;
}

.cf-inner-1:before {
  top: 20px;
  left: 20px;
  /*border-left: 1px solid;
  border-top: 1px solid;*/
}
.cf-inner-1:before,
.cf-inner-1:after {
  content: "";
  position: absolute;
  width: 50px;
  /*height: 250px;*/
  border-color: #fff;
  z-index: 10;

}
.content-back .cf-inner-1:before {
  top: 135px;
}
.content-back .cf-inner-1:after {
  bottom: 135px;
}
.content-inner .cf-inner-1 .inner {
  align-items: stretch;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  transform: translateZ(95px) scale(0.81);
  text-align: center;
  position: relative;
  z-index: 2;
}
.content-inner .cf-inner-1 .inner h2 {
  position: relative;
  font-size: 29px;
  font-weight: 700;
  padding-bottom: 30px;
  text-shadow: 1px 3px 1px #000 !important;
}

.content-inner .cf-inner-1 .inner h2:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 20px;
  height: 2px;
  margin-left: -10px;
  
}
.content-inner .cf-inner-1 .inner {
  align-items: stretch;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  transform: translateZ(95px) scale(0.81);
  text-align: center;
  position: relative;
  z-index: 2;
}
.content-inner .cf-inner-1 {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  width: 100%;
  padding: 150px 20px;
}
.content-inner .cf-inner-1 .inner h2:before {
  background: #fff;
}